<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
    <ul class="dropdown-menu">
    {% for index, category in categories %}
        <li><a href="/category/{{ category.slug }}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
</li>